---
layout: default
title: Shri Ved Beena Seva Sansthan - श्री वेद बीना सेवा संस्थान
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Shri Ved Beena Seva Sansthan - श्री वेद बीना सेवा संस्थान</h1>
				<p class="editable">Sheep are the backbone of the economy yet they receive no compensation.</p>
				<div class="button">
			<!--		<a href="#donate">Donate Now</a> -->
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/ramjibg.png" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/mission.jpg" alt="Mission">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Based on the ideology bequeated by Prabhu Shri Krishna in the battle field of  Kurukshetra, Shri Ved Beena Seva Sansthan is silently serving the society since its inception.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">यत् कृतं यत् करिष्यामि, तत् सर्वं न मया कृतम् । तव्या कृतं तु फलभुक्, त्वमेव मधुसूदन ॥ <br>yatkṛitaṁ yatkariṣhyāmi tatsarvaṁ na mayā kṛitam tvayā kṛitaṁ tu phalabhuk tvameva madhusūdana -- [Source: Mukundmala]<br>“Whatever I have achieved and whatever I wish to achieve, I am not the doer of these. O Madhusudan, you are the real doer, and you alone are the enjoyer of their results.”
</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong></strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">To whom this website is dedicated: </h2>
<div>
			<img src="{{ site.baseurl }}/images/maa_papa.jpg" alt="Sheep">
		</div>
	<ul class="">
		<li>
			<!-- <div class="image">{% include icons/site.html icon="population" %}</div>-->
			<h3 class="editable">Salutations to my father</h3>
			<p class="editable">पिता स्वर्गः पिता धर्मः पिता परमकं तपः । पितरि प्रीतिमापन्ने सर्वाः प्रीयन्ति देवता  ॥ <br> Transliteration: pitā svargaḥ pitā dharmaḥ pitā paramakaṃ tapaḥ । pitari prītimāpanne sarvāḥ prīyanti devatāḥ ॥ <br> Source: Mahabharata Shanti Parva 258.20 <br> अर्थ: मेरे पिता मेरे स्वर्ग हैं, मेरे पिता मेरे धर्म हैं, वे मेरे जीवन की परम तपस्या हैं। जब वे खुश होते हैं, तब सभी देवता खुश होते हैं !</p>
		</li>

		<li>
			<!-- <div class="image">{% include icons/site.html icon="economy" %}</div> -->
			<h3 class="editable">Salutations to my mother</h3>
			<p class="editable">आस्तां तावदियं प्रसूतिसमये दुर्वारशूलव्यथा, नैरुच्यं तनुशोषणं मलमयी शय्या च सांवत्सरी । एकस्यापि न गर्भ-भार-भरण-क्लेशस्य यस्याः क्षमो, दातुं निष्कृतिमुन्नतोऽपि तनयः तस्यैः जनन्यै नमः ।। <br> Source: Matrupanchkam</p>
		</li>

		
	</ul>
</div>

<!--
<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>
-->
<!--
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
-->
